:root {
    --bg-dark: rgb(255, 215, 0);
    --light-black: rgb(58, 84, 109);
    --light-green: rgb(26, 188, 156);
    --padding-cont: 2rem;
}

.small-bar-white {
    display: inline-block;
    width: 15%;
    height: 2px;
    background-color: white;
}

.small-bar-black {
    display: inline-block;
    width: 15%;
    height: 2px;
    background-color: black;
}


.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}  

.pt-6 {
    padding-top: 6rem;
}

.fa-star{
    font-size: 16px;
}

/* Header */

.navbar-brand {
    font-size: 2rem;
}

header {
    background-color: var(--light-black);
}

/* Jumbtron */

.jumbotron {
    background-color: var(--light-green);
}

/* Images */

.red {
    background-color: rgb(186, 75, 99);
}

.sky {
    background-color: rgb(30, 164, 182);
}

.blue {
    background-color: rgb(28, 131, 193);
}

.light-blue {
    background-color: rgb(14, 56, 181);
}

.beige {
    background-color: rgb(204, 178, 163);
}


/* About Me */


.cont-title {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.title {
     height: 4rem;
     background-color: burlywood;
}

/* About */


.about {
    background-color: var(--light-green);
}

/* Contact Me */

.title-contact-me {
    padding-bottom: 1rem;
}

.input {
    height: 25rem;
    background-color: brown;
}

/* Footer */

footer {
    background-color: var(--light-black);
}

.pie-foot {
    background-color: rgb(44, 62, 80);
}

.fot-items {
    background-color: rgb(201, 86, 139);
}