:root {
    --bg-dark: rgb(255, 215, 0);
    --light-black: rgb(58, 84, 109);
    --light-green: rgb(26, 188, 156);
    --padding-cont: 2rem;
}

.small-bar-white {
    display: inline-block;
    width: 20%;
    height: 2px;
    background-color: white;

}

/* Header */

.navbar-brand {
    font-size: 2rem;
}

header {
    background-color: var(--light-black);
}

/* Jumbtron */

.jumbotron {
    background-color: var(--light-green);
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}  

.pt-6 {
    padding-top: 6rem;
}



/* Images */

.cont-title {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.title {
     height: 4rem;
     background-color: burlywood;
}

.images {
    background-color: aqua;
    height: 20rem;
}

/* About */


.cont-about {
    background-color: var(--light-green);
    height: 30rem;
    margin-bottom: var(--padding-cont);
}

/* Contact Me */

.title-contact-me {
    padding-bottom: 1rem;
}

.input {
    height: 25rem;
    background-color: brown;
}

/* Footer */

footer {
    background-color: var(--light-black);
}

.pie-foot {
    background-color: rgb(44, 62, 80);
}

.fot-items {
    background-color: rgb(201, 86, 139);
}