html {
    --light-black: rgb(58, 84, 109);
    --light-green: rgb(26, 188, 156);
    --padding-cont: 2rem;
}

/* Header */


header {
    background-color: var(--light-black);
}

header .row > :first-child {
    background-color: beige;
    height: 100%;
}


header .row > :last-child {
    background-color: rgb(245, 0, 212);
    height: 100%;
}

/* Jumbtron */

.jumbotron {
    background-color: gold;
}

.py-6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}  



/* Images */

.cont-title {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.title {
     height: 4rem;
     background-color: burlywood;
}

.images {
    background-color: aqua;
    height: 20rem;
}

/* About */


.cont-about {
    background-color: var(--light-green);
    height: 30rem;
    margin-bottom: var(--padding-cont);
}

/* Contact Me */

.title-contact-me {
    padding-bottom: 1rem;
}

.input {
    height: 25rem;
    background-color: brown;
}

/* Footer */

footer {
    background-color: var(--light-black);
}

.pie-foot {
    background-color: rgb(44, 62, 80);
}

.fot-items {
    background-color: rgb(201, 86, 139);
}